{% extends 'cubane/ishop/pages/account/base.html' %}
{% load shop_tags %}
{% load form_tags %}

{% block meta_title %}Delivery Address{% endblock %}
{% block title %}Delivery Address{% endblock %}


{% block account_breadcrumb %}
    {% shop_breadcrumb 'Delivery Address' %}
{% endblock %}


{% block js %}
    <script type="text/javascript">
        $(document).ready(function() {
            var usstates = new innershed.USStates();
        });
    </script>
{% endblock %}


{% block content %}
    <form class="form form-horizontal account-form delivery-address-form" method="post">
        {% auto_csrf_token %}

        <div class="account-title">Address</div>
        {% if edit %}
            <div class="alert alert-info">Changing your delivery address will only affect new orders. Processing orders will not be changed.</div>
        {% endif %}
        {% include 'cubane/form/form.html' %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="customer"><i class="icon-white icon-ok"></i>&nbsp;{% if edit %}Change{% else %}Create{% endif %} Delivery Address</button>
        </div>
    </form>
{% endblock %}
