{% spaceless %}
    {% load list_tags %}
    {% load media_tags %}
    {% load backend_tags %}

    {% if column.bool %}
        {% if obj|get:column.display_fieldname %}
            yes
        {% else %}
            no
        {% endif %}
    {% elif column.choices %}
        {{ obj|get:column.choice_display }}
    {% elif column.currency %}
        {{ obj|get:column.display_fieldname|listing_format_currency }}
    {% elif column.percent %}
        {{ obj|get:column.display_fieldname|listing_format_percent }}
    {% elif column.html %}
        {{ obj|get:column.display_fieldname|safe }}
    {% elif column.url %}
        <a href="{{ obj|get:column.display_fieldname }}" target="_blank">{{ obj|get:column.display_fieldname }}</a>
    {% elif column.action %}
        <a href="{{ column.action.url }}?pk={{ obj.pk }}">{{ obj|get:column.display_fieldname }}</a>
    {% elif column.many2many %}
        {% for item in obj|get:column.display_fieldname|get:"all" %}
            {{ item }}{% if not forloop.last %}, {% endif %}
        {% empty %}
            -
        {% endfor %}
    {% else %}
        {{ obj|get:column.display_fieldname }}
    {% endif %}
{% endspaceless %}