{% extends 'cubane/backend/base_plain.html' %}


{% block content %}
    <div class="plain-section">
        <img class="plain-logo" src="/static/cubane/backend/img/cubane-logo-blue.svg">
    </div>

    <div class="plain-section">
        <h2>What Next?</h2>
        <p>Your are seeing this page, because there is no homepage setup in the system right now.</p>
        <p>For setup, login to the backend system.</p>
    </div>

    <div class="plain-section">
        <h2>/admin/</h2>
        <p>
            <a class="btn btn-primary" href="/admin/" title="Login to the backend system">Login Now</a>
        </p>
    </div>

    <div class="plain-section">
        <h2>Documentation</h2>
        <p>
            <a class="btn btn-primary" href="https://www.cubane.org/docs/" title="Cubane Documentation" target="_blank">Online Documentation</a>
        </p>
    </div>

    <div class="plain-section">
        <h2>Where to find us</h2>
        <p>
            Find us on <a href="https://github.com/cubaneorg/cubane" title="Cubane on GitHub" target="_blank">GitHub</a> or
            visit out <a href="https://www.cubane.org/" title="Cubane Website" target="_blank">website</a>.
        </p>
    </div>
{% endblock %}