{% load form_tags %}


{% if oneline or form.layout == 'flat' %}
    {% for field in fields %}
        {% if not field.field.widget.is_hidden %}
            {% include 'cubane/form/form_field.html' %}
        {% endif %}
    {% endfor %}
{% else %}
    {% for row in fields|fields_per_row %}
        {% if row|length == 2 %}
            <div class="row-fluid">
                {% for col in row %}
                    <div class="span6">
                        {% for field in col %}
                            {% if not field.field.widget.is_hidden %}
                                {% include 'cubane/form/form_field.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            {% for col in row %}
                {% for field in col %}
                    {% if not field.field.widget.is_hidden %}
                        {% include 'cubane/form/form_field.html' %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}