/*
 * URL and Email fields
 */
.control-group.url-input .field,
.control-group.email-input .field,
.control-group.tel-input .field {
    display: flex;
}

.control-group.url-input .field:after,
.control-group.email-input .field:after,
.control-group.tel-input .field:after {
    display: inline-block;
    background-color: #f49e2d;
    color: #fff;
    border: 1px solid #d38826;
    font-size: 12.5px;
    font-weight: 600;
    line-height: 26px;
    padding: 0 12px;
    font-size: 12.5px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: -1px;
}

.control-group.url-input .field:after {
    content: 'Go';
}

.control-group.email-input .field:after {
    content: 'Compose';
}

.control-group.tel-input .field:after {
    content: 'Call';
}