{% extends 'cubane/ishop/pages/account/base.html' %}
{% load shop_tags %}
{% load form_tags %}


{% block meta_title %}Change Password{% endblock %}
{% block title %}Change Password{% endblock %}


{% block account_breadcrumb %}
    {% shop_breadcrumb 'Change Password' %}
{% endblock %}


{% block password %}active{% endblock %}


{% block content %}
    <form class="form form-horizontal account-form password-form" method="post">
        {% auto_csrf_token %}

        {% include 'cubane/form/form.html' %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" name="customer"><i class="icon-white icon-ok"></i>&nbsp;Change Password</button>
        </div>
    </form>
{% endblock %}
