/*
 * Generic button
 */
.cubane-frontend-button {
    display: inline-block;
    color: #fff;
    background-color: #f49e2d;
    border: 1px solid #d38826;
    font-size: 14px;
    line-height: 28px;
    height: 30px;
    text-align: center;
    padding: 0 20px;
    white-space: nowrap;
}

.cubane-frontend-button:hover {
    background-color: #fff;
    color: #2574b7;
}


/*
 * Secondary button
 */
.cubane-frontend-secondary-button {
    background-color: #374142;
    border: 1px solid #f49c3a;
}