.postcode-lookup-button {
    position: absolute;
    right: 1px;

}

.postcode-lookup-select {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    overflow-y: scroll;
    background-image: url(/static/cubane/backend/img/select-arrow.svg);
    background-repeat: no-repeat;
    background-size: 12px 17px;
    background-position: right 5px center;
    background-origin: border-box;
    padding-left: 6px;
    padding-right: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.postcode-lookup-select-option {
    background: #fff;
    color: #000;
    line-height: 17px;
    padding: 7px 5px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}
