{% if not order.customer %}<strong>Guest Checkout:</strong><br/>{% endif %}

{% if order.customer %}
    <a class="open-edit-dialog" href="{% url 'cubane.ishop.customers.edit' %}?pk={{ order.customer_account.pk }}">
        {% if order.billing_address.first_name or order.billing_address.last_name %}
            {% if order.billing_address.title %}{{ order.billing_address_title_display }}{% endif %}
            {% if order.billing_address.first_name %}{{ order.billing_address.first_name }}{% endif %}
            {% if order.billing_address.last_name %}{{ order.billing_address.last_name }}{% endif %}
        {% else %}
            {% if order.customer_account.title %}{{ order.customer_account.get_title_display }}{% endif %}
            {% if order.customer_account.first_name %}{{ order.customer_account.first_name }}{% endif %}
            {% if order.customer_account.last_name %}{{ order.customer_account.last_name }}{% endif %}
        {% endif %}
    </a>
    <br/>
{% else %}
    {% if order.billing_address.first_name or order.billing_address.last_name %}
        {{ order.billing_address_title_display }} {{ order.billing_address.first_name }} {{ order.billing_address.last_name }}
        <br/>
    {% endif %}
{% endif %}

{% if order.billing_company %}{{ order.billing_company }}<br/>{% endif %}
{% if order.billing_address1 %}{{ order.billing_address1 }}<br/>{% endif %}
{% if order.billing.address2 %}{{ order.billing.address2 }}<br/>{% endif %}
{% if order.billing_address3 %}{{ order.billing_address3 }}<br/>{% endif %}
{% if order.billing_city or order.billing_county %}
    {% if order.billing_city and order.billing_county %}
        {{ order.billing_city }}, {{ order.billing_county }}
    {% elif order.billing_city %}
        {{ order.billing_city }}
    {% else %}
        {{ order.billing_county }}
    {% endif %}
    <br/>
{% endif %}
{% if order.billing_postcode or order.billing_country %}
    {% if order.billing_postcode %}{{ order.billing_postcode }}{% endif %}
    {% if order.billing_country %}{{ order.billing_country.printable_name }}{% endif %}
    <br/>
{% endif %}