{% include 'cubane/backend/form/form_start.html' %}
    {% if not permissions or permissions.edit or permissions.create %}
        {% if not is_browse_dialog and not is_create_dialog and not is_edit_dialog and not is_frontend_editing %}
            <div class="form-actions form-buttons">
                {% if not without_save %}
                    <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> {% if save_label %}{{ save_label }}{% else %}{{ BACKEND_DEFAULT_SAVE_BUTTON_LABEL }}{% endif %}</button>
                {% endif %}

                {% if not without_continuation %}
                    <button type="submit" class="btn btn-save-and-continue"><i class="icon-save"></i> {% if save_and_continue_label %}{{ save_and_continue_label }}{% else %}{{ BACKEND_DEFAULT_SAVE_AND_CONTINUE_BUTTON_LABEL }}{% endif %}</button>
                {% endif %}

                {% if not is_index_dialog %}
                    <button type="reset" class="btn btn-cancel"><i class="icon-arrow-left"></i> {{ BACKEND_DEFAULT_BACK_BUTTON_LABEL }}</button>
                {% endif %}

                {% if form.has_required_fields and form.visible_fields %}
                	{% if form.all_fields_are_requried %}
	                    {% include 'cubane/backend/form/form_all_field_notice.html' %}
                    {% else %}
                    	{% include 'cubane/backend/form/form_required_field_notice.html' %}
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
</form>